/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Crimson Text', serif!important;
}

li {
    list-style: none;
}

.logo {
    margin-top: -15px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem;
    background-color: grey;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

.menu {
    display: flex;
    gap: 2.5em;
    font-size: 18px;
}

.menu li:hover {
    margin-top: -10px;
    transition: 0.5s ease;
}

.menu li {
    padding: 5px 14px;
}

/* RESPONSIVE NAVBAR MENU STARTS HERE */
/* CHECKBOX HACK */
input[type=checkbox] {
    display: none;
}

/* HAMBURGER MENU */
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: grey;
        right: 0;
        left: 0;
        top: 120px;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        transition: 0.5s ease;
    }

    .menu li + li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked ~ .menu {
        display: block;
    }

    .hamburger {
        display: block;
    }
}